.header
{
    background-color: black;
    height: 85px;
    color: white;
    text-align: center;
    
}
.header h1
{
    padding: 12px;
}
#first_url
{
 margin-left: 15%;
 padding: 25px;
}
#input_bookmarkurl
{
    padding-right: 275px;
    padding-bottom: 28px;
    text-align: start;
    padding-top: 12px;
    padding-left: 12px;
}
#add_url
{
    padding: 15px;
    padding-bottom: 28px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: none;
    border: solid 2px black;
}
#Clear_url
{
    
    padding: 15px;
    padding-bottom: 28px;
    background-color: orangered;
    color: aliceblue;
    border: none;
}
.second_url
{
    border: solid 2px black;
    width: 44%;
    height: 46px;
    margin-left: 141px;
    padding: 23px;
    padding-right: 297px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;



}
#ed_url
{
    /* padding-right: 331px; */
    border: none;
}
#edit_url
{
    padding: 15px;
    padding-right: 25px;
    margin-right: 12px;

}
#delete_url
{
    padding: 15px;
    padding-right: 25px;
}

.editurltextbox
{
    position: absolute;
    top: 35px;
    left: 50%;
}
.backpage
{
    background-color: black;
    opacity: 35%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
     z-index: 1; 
}
.editurl_textbox
{
    padding-top: 12px;
    z-index: 2;
    display: none;
    position: absolute;
    top: 35px;
    left: 47%;
}
#edittext
{
    padding-right: 275px;
    padding-bottom: 28px;
    text-align: start;
    padding-top: 12px;
    padding-left: 12px;
    margin-left: -211px;
    margin-top: 14px;
}
#submit
{
    padding: 9px;
    padding-right: 25px;
    padding-bottom: 16px;
    color: blue;
    font-size: large;
    padding-top: 9px;
}